<!DOCTYPE html>
<html>
<head>
  <title>Tumblgraph</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" %>
  <%= javascript_include_tag "arbor" %>
  <%= javascript_include_tag "arbor-tween" %>
  <%= javascript_include_tag "tumblrmapper" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
