<!DOCTYPE html>
<html>
<head>
  <title>Tumblgraph</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" %>
  <%= javascript_include_tag "d3" %>
  <%= javascript_include_tag "d3.chart" %>
  <%= javascript_include_tag "d3.layout" %>
  <%= javascript_include_tag "d3.geom" %>
  <%= javascript_include_tag "tumblrmapper" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
